<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h1>My Collections</h1>

    <%
                if(books)
                {
                    var rows = '';
                    
                }
            %>


    <%- rows %>
  </div>
</main>

<%- include ('../partials/footer') %>