<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h1>Explore</h1>
    <div id="search_bar" class="mt-3">
      <form action="/explore" method="POST">
        <div class="input-group mb-3">
          <label for="title" class="visually-hidden">Title:</label>
          <input type="text" id="title" name="title" class="form-control" placeholder="Search Books by Title" aria-label="Search Books by Title" aria-describedby="search-btn" />
          <button type="submit" class="btn btn-primary" id="search-btn">Search</button>
        </div>
      </form>
    </div>    
    <div id="book_table">
      <%
                if(books != undefined)
                {
                    var rows = '';
                    console.log("keyfindhere");
                    console.log(books);

                    books.forEach(function(item)
                            {
                                if(item.volumeInfo.title != undefined && item.volumeInfo.authors[0] != undefined && item.volumeInfo.industryIdentifiers != undefined && item.volumeInfo.publishedDate != undefined)
                                {
                                  rows += "<tr><td>" + item.volumeInfo.title + "</td><td>" + item.volumeInfo.authors[0] + "</td><td>" + item.volumeInfo.industryIdentifiers[0]?.identifier + "</td><td>" + item.volumeInfo.publishedDate + "</td><td><img src=\""; 
                                    if(item.volumeInfo.imageLinks != undefined)
                                    {
                                      rows += item.volumeInfo.imageLinks.thumbnail + "\"></td></tr>";
                                    } 
                                    else
                                    {
                                      rows += "\"></td></tr>";
                                    }
                                }
                            }
                    );
                }
            %>

        <table class="table table-striped">
          <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">ISBN</th>
                <th scope="col">Date Published</th>
                <th scope="col">Cover</th>
            </tr></thead>
            <hr>
          <tbody>
          <%- rows %>
          </tbody>  
                      
        </table>
    <!-- MODAL ACCESS: items[<index>].volumeInfo.description -->
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>